html{
    font-family: "Verdana", sans-serif;
    font-weight: normal;
    font-size: 50px;
    color: #ffffff;
    text-align: center;
    background-color: #000000;
}

a{
    font-size: 0.32rem;
    color: aquamarine !important;
}

h2{
    font-weight: 300;
    font-size: 0.84rem;
}
#quote .guide img{
    padding: .125rem;
    margin: .125rem;
}

#quote .guide h5{
    font-size: 0.42rem;
    color: gray;
}

#coming a{
    padding-bottom: 1.25rem;
}